@media screen and (max-width: 991px) {
    .gpa-sec{
        .nav.nav-tabs{
            .nav-item{
                a.nav-link{
                    img{
                        width: 50px;
                    }
                    span{
                        font-size: 14px;
                    }
                }
            } 
        }
    }
    .clients-review-sec{
        .col-md-12{
            flex-direction: column-reverse;;
        }
    }
    .blog-listing-sec{
        .blog-poster-img{
            display: none;
        }
    }
    .about-banner-sec{
        padding: 0 0 50px;
        .col-md-12{
            flex-direction: column-reverse;
            .about-banner-img{
                text-align: center;
                img{
                    max-width: 350px;
                    margin: 0 auto;
                }
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .index-banner-sec{
        .content-block{
            .hero-new__illustration{
                display: none;
            }
        }
        .price-calculator{
            .form-group{
                a{
                    width: 100%;
                }
            } 
        } 
    }
    .gpa-sec{
        .nav.nav-tabs{
            .nav-item{
                a.nav-link{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            } 
        }
        .tab-content{
            .tab-pane{
                padding-left: 0;
                h4{
                    font-size: 30px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
        .why-regular-customer{
            .wrc-descript{
                h3{
                    line-height: inherit;
                    font-size: 30px;
                }
            }
        }
    }
    .clients-review-sec{
        .review-listing-block{
            ul{
                li{
                    .review-box{
                        .customer-content{
                            p.customer-feedback-rating{
                                svg{
                                    width: 30px;
                                    margin: 10px 0;
                                }
                                span.feedback{
                                    padding: 10px 15px;
                                }
                                span.rating{
                                    font-size: 30px;
                                }
                            }
                            p.customer-detail{
                                padding: 15px 0;
                            }
                        }
                        .our-content{
                            .reply-box{
                                p.our-reply{
                                    font-size: 14px;
                                    padding: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .clients-review-sec{
        .load-reviews{
            button{
                font-size: 14px;
            }
        }
    }
    .blog-banner-sec .col-md-12{
        flex-direction: column-reverse;
        .blog-search{
            h3.blog-search-title{
                font-size: 30px;
            }
            .blog-search-form{
                margin-top: 30px;
            }
        }
    }
    .about-banner-sec{
        .about-banner-slider{
            ul.slick-slider{
                .slick-list{
                    .about-banner-content{
                        text-align: center;
                        background: #ffffff;
                        box-shadow: 0 0 10px #c2c2c2;
                        flex-wrap: wrap;
                        padding: 15px;
                        height: 100%;
                        min-height: 300px;
                        margin: 10px;
                        display: inline-flex;
                        .year{
                            display: inline-block;
                            width: 100%;
                            font-size: 30px;
                            padding: 0;
                            text-align: center;
                        }
                        .year-content{
                            display: inline-block;
                            width: 100%;
                            h3{
                                line-height: 18px;
                                font-size: 18px;
                            }
                            p{
                                line-height: 14px;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
    .guarantee-sec.about{
        .promo-code-content{
            justify-content: center;
            p{
                width: 100%;
                text-align: center;
                padding: 0;
                margin-top: 0;
            }
        }
    }
}
@media screen and (max-width: 575px) {
    .subscribe-sec{
        .subscribe-title{
            font-size: 30px;
        }
        .subscribe-content{
            .subcribe-form{
                form{
                    .form-row{
                        input{
                            margin-bottom: 10px;
                        }
                        button{
                            padding: 5px 0;
                            margin: 10px auto;
                        }
                    }
                }
            }
        }
    }
    .academic-goals-sec{
        h3{
            font-size: 30px;
        }
    }
    .blog-banner-sec{
        .blog-search{
            .blog-search-form{
                form{
                    input{
                        max-width: calc(100% - 40px);
                    }
                }
            }
        }
    }
    .blog-listing-sec{
        ul{
            li{
                .blog-listing-single{
                    padding: 0 10px 10px;
                    .blog-meta{
                        padding-left: 50px;
                        .blog-label{
                            padding: 8px;
                            max-width: 60px;
                            font-size: 12px;
                            left: -10px;
                        }
                        &> span{
                            font-size: 14px;
                        }
                    }
                    .blog-content-block{
                        padding: 0 7px;
                        h5{
                            font-size: 18px;
                        }
                        p{
                            font-size: 14px;
                            margin: 10px 0;
                        }
                        a{
                            padding: 7px 10px;
                            border-radius: 4px;
                            font-size: 13px;
                        }
                    }
                    .author-meta{
                        padding: 15px 7px;
                        p{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .guarantee-sec.about{
        .promo-code-content{
            p{
                text-align: center;
                font-size: 18px;
            }
        }
    }
    .service-feature-sec{
        .service-feature-single{
            img{
                max-width: 250px;
            }
        }
    }
    .circle-percent-sec{
        .content-block{
            h3{
                font-size: 36px;
            }
            p{
                font-size: 16px;
            }
        }
        .circle-block{
            .percent-content{
                max-width: 140px;
                p{
                    font-weight: 400;
                    font-size: 16px;
                }
            }
        }
    }
}