@keyframes illustration-leg{
	0%{transform:rotate(2deg) translateY(13px)}
	100%{transform:rotate(6deg) translateY(6px)}
}
// @media (max-width:991px){.chip{display:none}}
@keyframes chip__animation{
	40%{transform:rotate(0) translateY(0) translateX(0);opacity:0}
	50%{opacity:.7}
	90%{opacity:.7}
	100%{transform:rotate(-5deg) translateY(-200px) translateX(10px);opacity:0}
}
@keyframes chip__animation-second{
	20%{transform:rotate(0) translateY(0) translateX(0);opacity:0}
	60%{opacity:.7}90%{opacity:.7}100%{transform:rotate(10deg) translateY(-180px) translateX(10px);opacity:0}
}
@keyframes chip__animation-third{
	25%{transform:rotate(0) translateY(0) translateX(0);opacity:0}
	45%{opacity:.7}
	90%{opacity:.7}
	100%{transform:rotate(-15deg) translateY(-150px) translateX(-8px);opacity:0}
}

$primary-yellow: #62acb5;
$primary-grey: #4a4955;
$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;

::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px $primary-yellow;
    background-color: $primary-yellow;
    padding: 0.5px;
}
::-webkit-scrollbar{
    width: 6px;
    background-color: $primary-grey;
}
::-webkit-scrollbar-thumb{
    background-color: $primary-yellow;
    border-radius: 10px;
}

body {
	font-family: 'Poppins', sans-serif;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(#000000, .5);
		transition: .3s all ease;
		opacity: 0;
		visibility: hidden;
		z-index: 1;
	}
	&.offcanvas-menu {
		&:before {
			opacity: 1;
			visibility: visible;
		}
	}
}
p {
	color: darken(#ccc, 10%);
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: sans-serif;
}
a {
	transition: .3s all ease;
	&, &:hover {
		text-decoration: none!important;
	}
}

.hero {
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.header-block{	
	display: inline-block;
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #ececec;
	.site-navbar {
		&.sticky{
			position: fixed;
			top: 0;
			width: 100%;
			background: #ffffff;
			box-shadow: 0 0 10px #ececec;
			border-bottom: 1px solid #ececec;
		}
		margin-bottom: 0px;
		z-index: 1999;
		// position: absolute;
		// top: 2rem;
		width: 100%;
		
		&.transparent {
			background: transparent;
		}
		&.absolute {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}

		.site-logo {
			position: relative;
			left: 0;
			font-size: 24px!important;
		}
		
		.site-navigation {
			
			.site-menu {
				
				margin-bottom: 0;
				.active {
					> a {
						// color: blue;
						span {

							background: $primary-yellow;
							color: $primary-grey;
							border-radius: 30px;
							display: inline-block;
							padding: 5px 20px;
						}
					}
				}
				a {
					text-decoration: none!important;
					display: inline-block;
				}
				> li {
					display: inline-block;
					> a {
						padding: 10px 0px;
						color: $primary-grey;
						font-size: 16px;
						text-decoration: none!important;
						> span {
							padding: 5px 20px;
							display: inline-block;
							transition: .3s all ease;
							border-radius: 30px;
						}
						&:hover {
							> span {
								background: $primary-yellow;
								color: $primary-grey;
								border-radius: 30px;
								display: inline-block;
							}
						}
					}
				}
				.has-children {
					position: relative;
					> a {
						span {
							position: relative;
							padding-right: 30px;						
							&:before {
								position: absolute;
								content: "\e313";
								font-size: 16px;
								top: 50%;
								right: 10px;
								transform: translateY(-50%);
								font-family: 'icomoon';
							}
						}
					}
					.dropdown {
						visibility: hidden;
						opacity: 0;
						top: 100%;
						position: absolute;
						text-align: left;
						border-top: 2px solid $primary-yellow;
						box-shadow: 0 2px 10px -2px rgba(0,0,0,.1);
						z-index: 9999;
						padding: 0px 0;
						margin-top: 20px;
						margin-left: 0px;
						background: #ffffff;
						transition: 0.2s 0s;
					
						&.arrow-top {
							position: absolute;
							&:before {
								bottom: 100%;
								left: 20%;
								border: solid transparent;
								content: " ";
								height: 0;
								width: 0;
								position: absolute;
								pointer-events: none;
							}
							&:before {
								border-color: rgba(136, 183, 213, 0);
								border-bottom-color: #ffffff;
								border-width: 10px;
								margin-left: -10px;
							}	
						}
						

						a {
							text-transform: none;
							letter-spacing: normal;
							transition: 0s all;
							color: #adadad;
						}
						.active {
							> a {
								color: $primary-grey!important;
							}
						}
						> li {
							list-style: none;
							padding: 0;
							margin: 0;
							min-width: 200px;
							> a {
								padding: 9px 20px;
								display: block;
								&:hover {
									background: lighten(#6b6b6b, 15%);
									// background: lighten($gray-4, 2%);
									// color: $gray-1;
								}
							}

							&.has-children {
								> a {
									position: relative;
									&:after {
										position: absolute;
										right: 0;
										content: "\e315";
										right: 20px;
										font-family: 'icomoon';
									}
								}
								> .dropdown, > ul {
									left: 100%;
									top: 0;
								}
								&:hover, &:active, &:focus {
									> a {
										background: lighten(#6b6b6b, 15%);
										
									}
								}
							}
						}
					}
					
					&:hover, &:focus, &:active {
						> a {
							color: $primary-yellow;
							span {
								background: $primary-yellow;
								color: $primary-grey;
							}
						}
					}
					&:hover, &:focus, &:active {
						cursor: pointer;
						> .dropdown {
							transition-delay: 0s;
							margin-top: 0px;
							visibility: visible;
							opacity: 1;
					
						}
					}
				}
			}
		}
	}


	// mobile menu

	.site-mobile-menu {
		width: 300px;
		position: fixed;
		right: 0;
		z-index: 2000;
		padding-top: 20px;
		background: #000000b8;
		height: calc(100vh);
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		transform: translateX(110%);
		box-shadow: -10px 0 20px -10px rgba(0,0,0,.1);
		transition: .3s all ease-in-out;

		.offcanvas-menu & {
			transform: translateX(0%);
		}

		.site-mobile-menu-header {
			width: 100%;
			float: left;
			padding-left: 20px;
			padding-right: 20px;
			
			.site-mobile-menu-close {
				float: right;
				margin-top: 8px;
				span {
					font-size: 30px;
					display: inline-block;
					padding-left: 10px;
					padding-right: 0px;
					line-height: 1;
					cursor: pointer;
					transition: .3s all ease;
					&:hover {
						color: #ececec;
					}
				}
			}
			.site-mobile-menu-logo {
				float: left;
				margin-top: 10px;
				margin-left: 0px;
				a {
					display: inline-block;
					text-transform: uppercase;
					img {
						max-width: 70px;
					}
					&:hover {
						text-decoration: none;
					}
				}
			}
		}

		.site-mobile-menu-body {
			overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
			position: relative;
			padding: 0 20px 20px 20px;

			height: calc(100vh - 52px);
			padding-bottom: 150px;

		}
		.site-nav-wrap {
			padding: 0;
			margin: 0;
			list-style: none;
			
			position: relative;

			a {
				padding: 10px 20px;
				display: block;
				position: relative;
				color: #adadad;
				&:hover {
					color: $primary-yellow;
				}
			}
			li {
				position: relative;
				display: block;
				&.active {
					> a {
						color: $primary-yellow;
					}
				}
			}
			.arrow-collapse {
				position: absolute;
				right: 0px;
				top: 10px;
				z-index: 20;
				width: 36px;
				height: 36px;
				text-align: center;
				cursor: pointer;
				border-radius: 50%;
				&:hover {
					background: #ececec;
				}
				&:before {
					font-size: 12px;
					z-index: 20;
					font-family: 'fontawesome';
					content: "\f078";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) rotate(-180deg);
					transition: .3s all ease;
				}
				&.collapsed {
					&:before {
						transform: translate(-50%, -50%);	
					}
				}
			}
			> li {
				display: block;
				position: relative;
				float: left;
				width: 100%;
				> a {
					padding-left: 20px;
					font-size: 20px;
					text-align: center;
					border-bottom: 1px solid #ffffff;
					color: #ffffff;
				}
				> ul {
					padding: 0;
					margin: 0;
					list-style: none;
					> li {
						display: block;
						> a {
							padding-left: 40px;
							font-size: 16px;
						}
						> ul {
							padding: 0;
							margin: 0;
							> li {
								display: block;
								> a {
									font-size: 16px;
									padding-left: 60px;			
								}
							}
						}
					}
				}
			}
		
		&[data-class="social"] {
			float: left;
			width: 100%;
			margin-top: 30px;
			padding-bottom: 5em;
			> li {
				width: auto;
				&:first-child {
					a {
						padding-left: 15px!important;
					}
				}
			}
		}

		}


	}
}
.index-banner-sec{
	position: relative;
    overflow: hidden;
	&:after{
		background: #fafafb;
		position: absolute;
		content: '';
		bottom: 0;
		left: -150px;
		right: -150px;
		top: 50%;
		z-index: -1;
		transform: rotate(-7deg);
		height: 500px;
	}
	.content-block{
		.title-content{
			font-family: $poppins;
			line-height: 45px;
			font-size: 34px;
			letter-spacing: .25px;
			color: #191919;
			margin-bottom: 10px;
		}
		.subtitle-content{
			font-family: $roboto;
			line-height: 25px;
			font-size: 20px;
			letter-spacing: .25px;
			color: #191919;
		}
		.hero-new__illustration{
			position: relative;
			.hero-new__illustration-leg {
				position: absolute;
				left: 4px;
				top: -19px;
				-ms-transform: rotate(2deg) translateY(13px);
				transform: rotate(2deg) translateY(13px);
				animation: illustration-leg .8s ease-out alternate infinite;
				animation-duration: 0.8s;
				animation-timing-function: ease-out;
				animation-delay: 0s;
				animation-iteration-count: infinite;
				animation-direction: alternate;
				animation-fill-mode: none;
				animation-play-state: running;
				animation-name: illustration-leg;
			}
			.chip{
				background:#fff;
				box-shadow:0 10px 20px rgba(0,0,0,.1),0 2px 8px rgba(0,0,0,.1);
				border-radius:4px;
				padding:0 20px;
				text-align:center;
				display:-ms-inline-flexbox;
				display:inline-flex;
				-ms-flex-align:center;
				align-items:center;
				min-height:70px;
				position:absolute;
				left:-75px;
				bottom:75px;
				opacity:0;
				animation:chip__animation 3s ease-out infinite
			}
			.chip__animation-second{
				animation-name:chip__animation-second;
				animation-duration:2s
			}
			.chip__animation-third{
				animation-name:chip__animation-third;
				animation-duration:2.3s}
			.chip__text{
				font-family:$roboto;
				line-height:20px;
				font-size:20px;
				letter-spacing:.285714px;
				color:#000;
				display:inline-block;
				padding-left:15px
			}
		}
	}
	.price-calculator{
		background-color: $primary-yellow;
		padding: 15px;
		margin: 30px auto;
		box-shadow: 0 10px 20px #d6d6d6, 0 2px 8px #d0d0d0;
		.form-group{
			.form-control{
				border-radius: 0px;
				border: none;
			}
			ul{
				li{
					text-decoration: underline;
					cursor: pointer;
				}
			}
			a{
				width: 60%;
				display: inline-block;
				margin: 15px auto;
				font-weight: 700;
				font-size: 24px;
			}
		}
		.standard-price{
			color: $primary-grey;
			p{
				font-size: 18px;
				color: #000000;
				span{
					font-size: 24px;
					font-weight: 700;
				}
			}
		}
		.grey-box{
			background-color: $primary-grey;
			border-radius: 0;
			padding: 20px;
			margin-bottom: 10px;
			p{
				font-size: 12px;
				color: #ffffff;
				&.first-order-price{
					font-size: 48px;
					font-weight: 600;
				}
			}
			#unlock-price{
				input{
					padding: 10px;
					width: 100%;
					height: 50px;
					border: none;
				}
				button{
					background: #ffffff;
					border-radius: 7px;
					width: 100%;
					height: 50px;
					border: none;
					font-size: 16px;
					text-transform: uppercase;
					font-weight: 500;
				}
			}
		}
	}
}
.trust-rating-sec{
	padding: 30px 0;
    background: #fafafb;
	.rating-box{
		box-shadow: 0 10px 20px #d6d6d6, 0 2px 8px #d0d0d0;
		h6{
			width: 100%;
			font-family: $roboto;
			font-size: 16px;
			letter-spacing: .5px;
			color: #4b454d;
		}
		.rate-score{
			p{
				font-family: $poppins;
				font-weight: 200;
				font-size: 48px;
				letter-spacing: .9375px;
				color: #4b454d;
			}
		}
	}
}
.guarantee-sec{
	background: #fafafb;
    padding: 30px 0 50px;
	&.about{
		background: $primary-yellow;
		h3{
			color: #ffffff;
		}
		.guarantee-block{
			.guarantee-content{
				h4 , p{
					color: #ffffff;
				}
			}
		}
		.promo-code-content{
			padding: 15px 30px;
			background: #fff;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			p{
				margin: 15px 0;
				width: calc(100% - 130px);
				padding: 0 10px 0 0;
				font-family: $poppins;
				line-height: normal;
				font-size: 24px;
				color: #191919;
				span{
					font-size: 14px;
					color: #b3b3b3;
				}
			}
			a{
				display: inline-block;
				padding: 10px 15px;
				background: #62acb5;
				color: #ffffff;
				border-radius: 7px;
				width: 130px;
				font-size: 14px;
				text-align: center;
			}
		}
	}
	h3{
		line-height: 60px;
		font-size: 48px;
		margin: 60px auto;
	}
	.guarantee-block{
		.guarantee-icon{
			span{
				width: 80px;
				height: 80px;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-pack: center;
				justify-content: center;
				-ms-flex-align: center;
				align-items: center;
				background: #fff;
				box-shadow: 0 10px 20px #0000001a, 0 2px 8px #0000001a;;
				border-radius: 40px;
				// position: absolute;
				// left: 0;
				// top: 0;
			}
		}
		.guarantee-content{
			h4{
				font-family: $poppins;
				font-style: normal;
				font-weight: 500;
				line-height: 25px;
				font-size: 20px;
				letter-spacing: .15px;
				color: rgba(0,0,0,.9);
			}
			p{
				font-family: $roboto;
				line-height: 20px;
				font-size: 14px;
				letter-spacing: .25px;
				color: #4a4955;
			}
		}
	}
}
.gpa-sec{
	padding: 50px 0 100px;
	background: linear-gradient(180deg,#edeff2 0,#fafafb 100%);
	position: relative;
	&::before {
		position: absolute;
		content: '';
		background: #edeff2;
		top: -25px;
		left: 0;
		right: 0;
		height: 50px;
		width: 100%;
		transform: skew(0deg , -2deg);
		z-index: 99;
	}
	&::after {
		position: absolute;
		content: '';
		background: $primary-yellow;
		bottom: -25px;
		left: 0;
		right: 0;
		height: 50px;
		width: 100%;
		transform: skew(0deg , -2deg);
		z-index: 99;
	}
	.nav.nav-tabs{
		border: none;
		.nav-item{
			a.nav-link{
				color: #495057;
				border-radius: 4px;
				padding: 10px 15px 10px 10px;
				cursor: pointer;
				transition: .4s;
				&.active{
					border: none;
					background: #ffffff;
					box-shadow: 0 10px 20px #0000001a, 0 2px 8px #0000001a;
				}
				&:hover{
					background: #ffffff;
				}
				img{
					margin-right: 10px;
					text-align: center;
					width: 100px;
				}
				span{
					font-family: $poppins;
					font-weight: 500;
					line-height: 25px;
					font-size: 19px;
					letter-spacing: .15px;
					color: #191919;
				}
			}
		}
	}
	.tab-content{
		.tab-pane{
			padding-left: 50px;
			h4{
				margin-bottom: 25px;
				margin-top: 10px;
				line-height: 60px;
				font-size: 48px;
			}
			p{
				font-family: $roboto;
				line-height: 25px;
				font-size: 20px;
				letter-spacing: .44px;
				color: #191919;
			}
		}
	}
	.why-regular-customer{
		.wrc-descript{
			h3{
				line-height: 60px;
				font-size: 48px;
				margin-bottom: 25px;
				padding-left: 15px;
			}
			p{
				font-family: $roboto;
				line-height: 25px;
				font-size: 16px;
				letter-spacing: .44px;
				color: #191919;
				max-width: 350px;
				padding-left: 15px;
			}
		}
		.wrc-feature-box{
			background: #fff;
			box-shadow: 0 10px 20px #0000001a, 0 2px 8px #0000001a;
			border-radius: 4px;
			padding: 15px 20px;
			-ms-flex: 1;
			flex: 1;
			margin: 0;
			.wrc-count-icon{
				display: flex;
				-ms-flex-pack: justify;
				justify-content: space-between;
				padding-bottom: 20px;
				border-bottom: 1px solid #eee;
				margin: 0;
				.wrc-count{
					font-family: $poppins;
					font-weight: 200;
					font-size: 36px;
					color: #000;
					margin-right: 15px;
					display: flex;
					align-items: center;
				}
			}
			.wrc-feature-text{
				font-family: $roboto;
				line-height: 25px;
				font-size: 16px;
				letter-spacing: .4px;
				color: #000;
				padding: 15px 0;
				margin: 0;
			}
		}
	}
}
.clients-review-sec{
    background: $primary-yellow;
    padding: 100px 0;
    position: relative;
    overflow: hidden;
    &:before{
        position: absolute;
        content: '';
        width: 150%;
        transform: rotate(-5deg);
        background: $primary-grey;
        right: -25%;
        left: -25%;
        bottom: -20%;
        top: 50%;
        z-index: 0;
    }
    .review-content-block{
        margin-top: 30px;
        h3{
            margin-bottom: 15px;
            display: inline-block;
            text-align: left;
            width: 100%;
            line-height: 60px;
            font-size: 48px;
            letter-spacing: .25px;
            color: #191919;
        }
        p{
            font-size: 20px;
            display: inline-block;
            text-align: left;
            width: 100%;
            letter-spacing: .44px;
            color: #191919;
        }
        img{
            position: relative;
            left: -25px;
            width: 105%;
        }
    }
    .review-listing-block{
        margin-top: 30px;
        padding-right: 20px;
        max-height: 800px;
        overflow: auto;
        ul{
            li{
                .review-box{
                    .customer-content{
                        padding: 20px;
                        background: #fff;
                        border-radius: 0 0 0 10px;
                        box-shadow: 0 5px 10px #adadad;
                        .customer-feedback-rating{
                            position: relative;
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-start;
                            line-height: 1;
                            svg{
                                width: 30px;
                                display: inline-block;
                                position: absolute;
                                z-index: 0;
                            }
                            span.feedback{
                                font-family: $poppins;
                                font-size: 18px;
                                color: #191919;
                                padding: 10px 15px;
                                position: relative;
                            }
                            span.rating{
                                font-family: $poppins;
                                font-weight: 300;
                                font-size: 30px;
                                text-align: right;
                                letter-spacing: .9375px;
                                color: #4b454d;
                            }
                        }
                        .customer-detail{
                            font-family: $roboto;
                            line-height: 20px;
                            font-size: 14px;
                            color: rgba(0,0,0,.4);
                            display: block;
                            padding: 20px 20px 0px;
                            border-top: 1px solid #ececec;
                        }
                    }
                    .our-content{
                        width: calc(100% - 40px);
                        margin-left: auto;
                        background: #fff;
                        border: 1px solid #ececec;
                        border-radius: 0 0 10px 10px;
                        position: relative;
                        .reply-box{
                            padding: 20px;
                            background: #ececec;
                            color: #37474f;
                            .our-reply{
                                color: #37474f;
                                padding: 0;
                                margin: 0;
                                font-size: 14px;
                            }
                        }
                        .our-detail{
                            font-family: $roboto;
                            font-size: 13px;
                            color: rgba(0,0,0,.4);
                            display: block;
                            padding: 10px 20px;
                        }
                    }
                }
            }
        }
    }
    .load-reviews{
        button{
            padding: 15px 30px;
            border-radius: 10px;
            font-size: 20px;
            text-transform: uppercase;
            background: transparent;
            border: 2px solid $primary-yellow;
            color: $primary-yellow;
            transition: all 0.5s;
            &:hover{
                border: 2px solid $primary-grey;
                color: $primary-grey;
                background: $primary-yellow;
                transition: all 0.5s;
            }
        }
    }
}
.privacy-count-sec{
	background: #4a4955;
	.privacy-animation{
		width: 300px;
		max-width: 100%;
		margin: 0 auto;
		height: 300px;
		display: flex;
		align-items: center;
		position: relative;
		.caret-left{
			position: absolute;
			z-index: 999;
			left: -5px;
			top: calc(50% - 20px);
			svg{
				path{
					fill: $primary-yellow;
				}
			}
		}
		.caret-right{
			position: absolute;
			z-index: 999;
			right: -5px;
			top: calc(50% - 20px);
			svg{
				path{
					fill: $primary-yellow;
				}
			}
		}
		.security-ill{
			display: flex;
			justify-content: space-around;
			width: 100%;
			height: 100%;
			border: 10px solid #434343;
			border-radius: 15px;
			background: #434343;
			box-shadow: 0 0 30px #ffffff inset;
			.numbers{
				width: 20%;
				text-align: center;
				height: 100%;
				.numbers-container{
					background: #494854;
					box-shadow: 0 0 10px #000000 inset;
					overflow: hidden;
					height: 100%;
					.number{
						font-size: 30px;
						color: #fff;
						font-weight: 700;
						height: 100px;
						display: flex;
						align-items: center;
						justify-content: center;
						position: relative;
						&:before{
							position: absolute;
							content: '';
							bottom: 0px;
							height: 5px;
							width: 100%;
							border-radius: 10px;
							left: 0;
							right: 0;
							background: #2e2d35;
							box-shadow: 0 0 10px #868383 inset;
						}
					}
				}
			}
		}
	}
	.privacy-content{
		h3{
			font-family: $poppins;
			line-height: 45px;
			font-size: 34px;
			letter-spacing: .25px;
			color: #fff;
			margin-bottom: 50px;
		}
		ul{
			li{
				.privacy-title{
					font-family: $poppins;
					font-weight: 500;
					line-height: 25px;
					font-size: 20px;
					letter-spacing: .15px;
					color: #fff;
					margin-bottom: 15px;
				}
				.privacy-content{
					font-family: $roboto;
					line-height: 20px;
					font-size: 14px;
					letter-spacing: .25px;
					color: #999;
					margin-bottom: 25px;
				}
			}
		}
	}
}
.quality-paper-sec{
	padding: 50px 0;
	background: $primary-grey;
	.quality-paper-content{
		h3{
			font-family: $poppins;
			line-height: 60px;
			font-size: 34px;
			letter-spacing: .25px;
			color: #fff;
		}
		p.content-descript{
			font-family: $roboto;
			font-weight: 400;
			line-height: 25px;
			font-size: 16px;
			margin-bottom: 50px;
		}
		ul{
			li{
				p.quality-feature-title{
					font-family: $poppins;
					font-weight: 500;
					line-height: 25px;
					font-size: 20px;
					letter-spacing: .15px;
					color: #fff;
					margin-bottom: 15px;
				}
				p.quality-feature-text{
					font-family: $roboto;
					line-height: 20px;
					font-size: 14px;
					letter-spacing: .25px;
					color: #999;
					margin-bottom: 25px;
				}
			}
		}
	}
	.quality-paper-img{
		position: relative;
		img{
			width: 100%;
		}
		.quality-check{
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
	.grademiner-video{
		position: relative;
		text-align: center;
		iframe{
			height: 350px;
			position: relative;
			z-index: 99;
			max-width: 767px;
			margin: 0 auto;
		}
		& > img{
			position: absolute;
			width: 150px;
			height: 120px;
			left: 0px;
			bottom: 0;
			z-index: 0;
		}
	}
}
.subscribe-sec{
	padding: 50px 0;
    text-align: center;
    background: $primary-grey;
	.subscribe-title{
		font-family: $poppins;
		line-height: 45px;
		font-size: 48px;
		text-align: center;
		letter-spacing: .25px;
		color: #fff;
		margin-bottom: 50px;
	}
	.subscribe-content{
		background: $primary-yellow;
		border-radius: 4px;
		padding: 30px 10px;
		position: relative;
		overflow: hidden;
		&::before{
			position: absolute;
			content: '';
			top: -125px;
			left: -50px;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			background: #e1e1e1;
			width: 450px;
			height: 450px;
			z-index: 0;
			box-shadow: 0 0 10px #101010;
		}
		.subcribe-discount{
			img{
				display: block;
				width: 120px;
				height: 100px;
			}
			p{
				display: inline-flex;
				flex-direction: column;
				span.discount-percent{
					font-family: $poppins;
					font-size: 50px;
					letter-spacing: -.5px;
					color: #000;
					width: 100%;
					display: inline-block;
				}
				span.discount-text{
					font-family: $poppins;
					font-size: 24px;
					line-height: 29px;
					color: #000;
				}
			}
		}
		.subcribe-form{
			width: 100%;
			align-items: center;
			height: 100%;
			form{
				width: 100%;
				height: 100%;
				display: inline-flex;
				align-items: center;
				.form-row{
					width: 100%;
					input{
						border: none;
						font-size: 14px;
						padding: 10px;
					}
					button{
						background: transparent;
						color: #000;
						border: 1px solid #000;
						border-radius: 5px;
						margin: 10px auto;
						padding: 20px 0;
					}
				}
			}
		}
	}
}
.academic-goals-sec{
	padding: 50px 0;
    background: $primary-grey;
	h3{
		font-family: $poppins;
		line-height: 60px;
		font-size: 48px;
		text-align: center;
		color: #fff;
		margin-bottom: 35px;
	}
	.goals-content-block{
		.goal-title{
			position: relative;
			font-family: $poppins;
			font-style: normal;
			font-weight: 500;
			line-height: 25px;
			font-size: 20px;
			letter-spacing: .15px;
			color: #fff;
			padding-bottom: 20px;
			border-bottom: 1px solid rgba(191,192,195,.5);
			padding-right: 50px;
		}
		p{
			display: block;
			padding-top: 15px;
			font-family: $roboto;
			line-height: 20px;
			font-size: 14px;
			letter-spacing: .25px;
			color: #fff;
		}
		ul li{
			display: block;
			font-family: $roboto;
			line-height: 20px;
			font-size: 14px;
			letter-spacing: .25px;
			color: #fff;
			margin: 5px 0;
			position: relative;
			&:before{
				position: absolute;
				content: '';
				width: 5px;
				height: 5px;
				background: #ffffff;
				border-radius: 50%;
				left: -15px;
				top: 7px;
			}
		}
		img.sleeping-img{
			max-width: 350px;
		}
	}
	.sleeping-img{
		max-width: 100%;
	}
}
.footer-top-block{
	background: $primary-grey;
	padding: 50px 0;
	.top-block-content{
		position: relative;
		width: calc(100% - 100px);
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 30px;
		background: $primary-yellow;
		border-radius: 5px;
		align-items: center;
		overflow: hidden;
		&:before{
			position: absolute;
			content: '';
			height: 800px;
			width: 800px;
			background: #e1e1e1;
			box-shadow: 0 0 10px $primary-yellow inset;
			transform: rotate(45deg);
			border-radius: 10px;
			right: 50%;
			z-index: 0;
		}
		p{
			margin: 0;
			max-width: 500px;
			color: $primary-grey;
			position: relative;
			z-index: 99;
		}
		a{
			display: inline-block;
			margin: 10px auto;
			padding: 10px 30px;
			background: transparent;
			border-radius: 10px;
			border: 2px solid $primary-grey;
			color: $primary-grey;
			text-decoration: none;
			position: relative;
			z-index: 99;
			&:hover{
				background: #22b9cc;
			}
		}
	}
}

.breadcrumb-sec{
	padding-top: 30px;
	ul{
		li{
			a{
				color: $primary-grey;
				font-family: $roboto;
				line-height: 20px;
				font-size: 14px;
				letter-spacing: .25px;
				text-decoration: none;
			}
			span{
				font-family: $roboto;
				color: #000000;
				line-height: 20px;
				font-size: 14px;
				letter-spacing: .25px;
				text-decoration: none;
				margin-left: 5px;
				font-weight: 600;
			}
		}
	}
}

.blog-banner-sec{
	padding: 50px 0;
	position: relative;
    z-index: 99;
	.blog-search{
		h3.blog-search-title{
			font-family: $poppins;
			line-height: 45px;
			font-size: 48px;
			letter-spacing: .25px;
			color: #191919;
		}
		.blog-search-form{
			margin-top: 50px;
			form{
				input{
					border: 1px solid #b6b4b6;
					height: 40px;
					line-height: 38px;
					font-family: $roboto;
					font-size: 14px;
					letter-spacing: .25px;
					color: #979797;
					padding: 0 15px;
					max-width: 400px;
					width: calc(100% - 40px);
				}
				button{
					border-radius: 4px;
					width: 40px;
					height: 40px;
					border: none;
					line-height: 40px;
					margin-left: 20px;
					background-color: #fa0;
					background-repeat: no-repeat;
					background-position: center;
					cursor: pointer;
					color: #fff;
					display: flex;
					align-items: center;
					justify-content: center;
					svg{
						width: 15px;
						height: 15px;
					}
				}
			}
		}
	}
	.blog-banner-img{
		img{
			max-width: 100%;
		}
	}
}

.blog-listing-sec{
	padding: 50px 0 100px;
	// background: linear-gradient(180deg,#fafafb 0,#fafafb 100%);
	background: $primary-grey;
	position: relative;
	&::before {
		position: absolute;
		content: '';
		background: #fafafb;
		top: -150px;
		left: 0;
		right: 0;
		height: 500px;
		width: 100%;
		transform: skew(0deg , -2deg);
		z-index: 0;
	}
	ul{
		li{
			.blog-listing-single{
				padding: 0 20px 20px;
				background: #ffffff;
				box-shadow: 0 0 10px #cacaca;
				border-radius: 7px;
				.blog-meta{
					position: relative;
					align-items: center;
					padding-left: 70px;
					height: 35px;
					.blog-label{
						background: $primary-grey;
						position: absolute;
						top: 0;
						left: -20px;
						font-family: $poppins;
						font-weight: 500;
						line-height: normal;
						font-size: 15px;
						text-align: center;
						letter-spacing: .857143px;
						color: #fff;
						padding: 8px 15px;
					}
					&>span{
						width: 80px;
						padding: 0 5px;
						color: $primary-grey;
						svg{
							width: 15px;
							margin-right: 10px;
							path{
								fill: $primary-yellow;
							}
						}
					}
				}
				.blog-content-block{
					padding: 0 15px;
					margin: 20px 0;
					display: inline-block;
					h5{
						font-family: $poppins;
						font-weight: 500;
						font-size: 24px;
						color: #000;
						text-decoration: none;
						margin: 0;
						display: inline-block;
					}
					p{
						margin: 15px 0;
						font-family: $roboto;
						line-height: 25px;
						font-size: 16px;
						letter-spacing: .444444px;
						color: #000;
						overflow: hidden;
						display: -webkit-box;
						-webkit-line-clamp: 3;
						-webkit-box-orient: vertical;
					}
					a{
						padding: 10px 15px;
						text-transform: capitalize;
						background: $primary-yellow;
						color: #ffffff;
						border-color: $primary-yellow;
						display: inline-block;
						border-radius: 5px;
					}
				}
				.author-meta{
					padding: 20px 15px;
					border-top: 1px solid #dbdbdb;
					p{
						a{
							text-decoration: none;
							color: $primary-grey;
							&:hover{
								color: $primary-yellow;
							}
						}
						span{
							color: $primary-grey;
							font-weight: 600;
							font-size: 14px;
						}
					}
				}
			}
		}
	}
	.blog-poster-img{
		position: sticky;
		top: 0;
	}
}

.blog-detail-sec{
	padding: 50px 0 100px;
	// background: linear-gradient(180deg,#fafafb 0,#fafafb 100%);
	background: $primary-grey;
	position: relative;
	.blog-detail{
		padding: 0 20px 20px;
		background: #ffffff;
		box-shadow: 0 0 10px #cacaca;
		border-radius: 7px;
		.blog-meta{
			position: relative;
			align-items: center;
			height: 35px;
			.blog-label{
				background: $primary-grey;
				position: absolute;
				top: 0;
				left: -20px;
				font-family: $poppins;
				font-weight: 500;
				line-height: normal;
				font-size: 15px;
				text-align: center;
				letter-spacing: .857143px;
				color: #fff;
				padding: 8px 15px;
			}
			&>span{
				width: 80px;
				padding: 0 5px;
				color: $primary-grey;
				svg{
					width: 15px;
					margin-right: 10px;
					path{
						fill: $primary-yellow;
					}
				}
			}
		}
		.blog-title{
			h1{
				font-size: 30px;
				margin: 15px auto;
			}
		}
		.blog-detail-content{
			padding: 0 15px;
			margin: 20px 0;
			display: inline-block;
			h5{
				font-family: $poppins;
				font-weight: 500;
				font-size: 24px;
				color: $primary-grey;
				margin: 10px auto;
				display: inline-block;
			}
			p{
				margin: 15px 0;
				font-family: $roboto;
				font-size: 16px;
				color: $primary-grey;
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
			}
			a{
				text-transform: capitalize;
				color: $primary-yellow;
				display: inline-block;
			}
		}
		.author-meta{
			padding: 10px 0;
			border-top: 1px solid #dbdbdb;
			p{
				font-size: 14px;
				img{
					max-width: 35px;
					box-shadow: 0 0 10px #ececec;
					border-radius: 50%;
					object-fit: contain;
				}
				a{
					text-decoration: none;
					color: $primary-grey;
					&:hover{
						color: $primary-yellow;
					}
				}
				span{
					color: $primary-grey;
					font-weight: 600;
					font-size: 13px;
				}
			}
		}
		p.order-btn{
			a{
				display: inline-block;
				margin: 15px auto;
				padding: 15px;
				font-weight: 400;
				font-size: 18px;
				background: #62acb5;
				border-radius: 5px;
				color: #ffffff;
			}
		}
	}
	.blog-poster-img{
		position: sticky;
		top: 0;
	}
}

.about-banner-sec{
	padding: 50px 0;
    // overflow: hidden;
	position: relative;
	&::before {
		position: absolute;
		content: '';
		background: linear-gradient(180deg,#fafafb 0,#62acb5 100%);
		bottom: -25px;
		left: 0;
		right: 0;
		height: 250px;
		width: 100%;
		transform: skew(0deg , -2deg);
		z-index: -1;
	}
	.about-banner-slider{
		max-height: 350px;
		overflow: hidden;
		ul{
			li.slick-slide{
				opacity: 0.3;
				transition: all .5s;
				.about-banner-content{
					display: flex;
					align-items: start;
					justify-content: flex-start;
					margin-bottom: 30px;
					.year{
						font-family: $poppins;
						font-weight: 300;
						font-size: 60px;
						text-align: right;
						color: $primary-grey;
						padding-right: 30px;
						transition: .3s;
					}
					.year-content{
						visibility: hidden;
						transition: all 0.3s;
						h3{
							font-family: $poppins;
							letter-spacing: .25px;
							color: $primary-grey;
							margin-bottom: 10px;
							line-height: 60px;
							font-size: 48px;
							margin-bottom: 10px;
						}
						p{
							font-family: $roboto;
							line-height: 20px;
							font-size: 20px;
							letter-spacing: .25px;
							color: $primary-grey;
							font-weight: 300;
							margin: 0;
						}
					}
				}
				&.slick-current.slick-active.slick-center{
					opacity: 1;
					transition: all .5s;
					.about-banner-content{
						.year-content{
							visibility: visible;
							transition: all 0.3s;
						}
					}
				}
			}
		}
		ul.slick-dots{
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 10px auto;
			li{
				position: relative;
				display: inline-block;
				height: 20px;
				width: 20px;
				margin: 0 5px;
				padding: 0;
				cursor: pointer;
				button{
					border: 0;
					background: 0 0;
					display: block;
					height: 20px;
					width: 20px;
					outline: 0;
					line-height: 0;
					font-size: 0;
					color: transparent;
					padding: 5px;
					cursor: pointer;
					border-radius: 50px;
					overflow: hidden;
					&:before{
						position: absolute;
						top: 0;
						left: 0;
						content: "";
						width: 10px;
						height: 10px;
						font-family: slick;
						font-size: 10px;
						line-height: 10px;
						text-align: center;
						color: #000;
						opacity: .25;
						background: #ffffff;
						z-index: 9999999;
						border-radius: 50px;
					}
				}
				&.slick-active{
					button{
						&:before{
							opacity: 1;
							color: #b6b4b6;
						}
					}
				}
			}
		}
	}
}

.service-feature-sec{
	padding: 50px 0 100px;
	background: $primary-grey;
	position: relative;
	&::before {
		position: absolute;
		content: '';
		background: $primary-grey;
		top: -25px;
		left: 0;
		right: 0;
		height: 50px;
		width: 100%;
		transform: skew(0deg , -2deg);
		z-index: 99;
	}
	&::after {
		position: absolute;
		content: '';
		background: $primary-grey;
		bottom: -25px;
		left: 0;
		right: 0;
		height: 50px;
		width: 100%;
		transform: skew(0deg , -2deg);
		z-index: 99;
	}
	.service-feature-single{
		img{
			max-width: 300px;
			margin: 0 auto;
		}
		h4{
			display: inline-block;
			width: 100%;
			margin: 15px auto;
			color: #ffffff;
		}
		p{
			width: 100%;
			color: #ffffff;
			font-size: 15px;
		}
	}
	p.order-btn{
		a{
			display: inline-block;
			margin: 15px auto;
			padding: 15px;
			font-weight: 400;
			font-size: 18px;
			background: #62acb5;
			border-radius: 5px;
			color: #ffffff;
		}
	}
}

.circle-percent-sec{
	padding: 50px 0 100px;
	background: #ffffff;
	position: relative;
	&::after {
		position: absolute;
		content: '';
		background: $primary-yellow;
		bottom: -25px;
		left: 0;
		right: 0;
		height: 50px;
		width: 100%;
		transform: skew(0deg , -2deg);
		z-index: 99;
	}
	.content-block{
		h3{
			font-size: 50px;
			color: $primary-grey;
		}
		p{
			font-size: 18px;
			color: $primary-grey;
		}
	}
	.circle-block{
		position: relative;
		img{
			max-width: 100%;
			object-fit: contain;
		}
		.percent-content{
			display: inline-block;
			max-width: 200px;
			position: absolute;
			color: $primary-grey;
			span.percent{
				font-size: 30px;
			}
			p{
				font-size: 18px;
				color: $primary-grey;
				font-weight: 600;
			}
			&.percent-lt{
				top: 0;
				left: 0;
				color: $primary-yellow;
				p{
					color: $primary-yellow;
				}
			}
			&.percent-rt{
				top: 0;
				right: 0;
			}
			&.percent-lb{
				bottom: 0;
				left: 0;
			}
			&.percent-rb{
				bottom: 0;
				right: 0;
			}
		}
	}
}
