@keyframes illustration-leg {
  0% {
    transform: rotate(2deg) translateY(13px);
  }
  100% {
    transform: rotate(6deg) translateY(6px);
  }
}

@keyframes chip__animation {
  40% {
    transform: rotate(0) translateY(0) translateX(0);
    opacity: 0;
  }
  50% {
    opacity: .7;
  }
  90% {
    opacity: .7;
  }
  100% {
    transform: rotate(-5deg) translateY(-200px) translateX(10px);
    opacity: 0;
  }
}

@keyframes chip__animation-second {
  20% {
    transform: rotate(0) translateY(0) translateX(0);
    opacity: 0;
  }
  60% {
    opacity: .7;
  }
  90% {
    opacity: .7;
  }
  100% {
    transform: rotate(10deg) translateY(-180px) translateX(10px);
    opacity: 0;
  }
}

@keyframes chip__animation-third {
  25% {
    transform: rotate(0) translateY(0) translateX(0);
    opacity: 0;
  }
  45% {
    opacity: .7;
  }
  90% {
    opacity: .7;
  }
  100% {
    transform: rotate(-15deg) translateY(-150px) translateX(-8px);
    opacity: 0;
  }
}

body {
  font-family: sans-serif;
  position: relative;
}

body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: .3s all ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

body.offcanvas-menu:before {
  opacity: 1;
  visibility: visible;
}

p {
  color: #b3b3b3;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: sans-serif;
}

a {
  transition: .3s all ease;
}

a, a:hover {
  text-decoration: none !important;
}

.hero {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.header-block {
  display: inline-block;
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header-block .site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  width: 100%;
}

.header-block .site-navbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: #ffffff;
  box-shadow: 0 0 10px #ececec;
  border-bottom: 1px solid #ececec;
}

.header-block .site-navbar.transparent {
  background: transparent;
}

.header-block .site-navbar.absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-block .site-navbar .site-logo {
  position: relative;
  left: 0;
  font-size: 24px !important;
}

.header-block .site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}

.header-block .site-navbar .site-navigation .site-menu .active > a span {
  background: #ffbb4d;
  color: #4a4955;
  border-radius: 30px;
  display: inline-block;
  padding: 5px 20px;
}

.header-block .site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block;
}

.header-block .site-navbar .site-navigation .site-menu > li {
  display: inline-block;
}

.header-block .site-navbar .site-navigation .site-menu > li > a {
  padding: 10px 0px;
  color: #4a4955;
  font-size: 16px;
  text-decoration: none !important;
}

.header-block .site-navbar .site-navigation .site-menu > li > a > span {
  padding: 5px 20px;
  display: inline-block;
  transition: .3s all ease;
  border-radius: 30px;
}

.header-block .site-navbar .site-navigation .site-menu > li > a:hover > span {
  background: #84848b;
  color: #ffffff;
  border-radius: 30px;
  display: inline-block;
}

.header-block .site-navbar .site-navigation .site-menu .has-children {
  position: relative;
}

.header-block .site-navbar .site-navigation .site-menu .has-children > a span {
  position: relative;
  padding-right: 30px;
}

.header-block .site-navbar .site-navigation .site-menu .has-children > a span:before {
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-family: 'icomoon';
}

.header-block .site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  border-top: 2px solid #ffbb4d;
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #ffffff;
  transition: 0.2s 0s;
}

.header-block .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute;
}

.header-block .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.header-block .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}

.header-block .site-navbar .site-navigation .site-menu .has-children .dropdown a {
  text-transform: none;
  letter-spacing: normal;
  transition: 0s all;
  color: #adadad;
}

.header-block .site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
  color: #4a4955 !important;
}

.header-block .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
}

.header-block .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
  padding: 9px 20px;
  display: block;
}

.header-block .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
  background: #919191;
}

.header-block .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a {
  position: relative;
}

.header-block .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:after {
  position: absolute;
  right: 0;
  content: "\e315";
  right: 20px;
  font-family: 'icomoon';
}

.header-block .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .header-block .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
  left: 100%;
  top: 0;
}

.header-block .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .header-block .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .header-block .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
  background: #919191;
}

.header-block .site-navbar .site-navigation .site-menu .has-children:hover > a, .header-block .site-navbar .site-navigation .site-menu .has-children:focus > a, .header-block .site-navbar .site-navigation .site-menu .has-children:active > a {
  color: #ffbb4d;
}

.header-block .site-navbar .site-navigation .site-menu .has-children:hover > a span, .header-block .site-navbar .site-navigation .site-menu .has-children:focus > a span, .header-block .site-navbar .site-navigation .site-menu .has-children:active > a span {
  background: blue;
  color: #ffffff;
}

.header-block .site-navbar .site-navigation .site-menu .has-children:hover, .header-block .site-navbar .site-navigation .site-menu .has-children:focus, .header-block .site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}

.header-block .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .header-block .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .header-block .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

.header-block .site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #ffffff;
  height: calc(100vh);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.75);
  transform: translateX(110%);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  transition: .3s all ease-in-out;
}

.offcanvas-menu .header-block .site-mobile-menu {
  transform: translateX(0%);
}

.header-block .site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.header-block .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}

.header-block .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  transition: .3s all ease;
}

.header-block .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #ececec;
}

.header-block .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
}

.header-block .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}

.header-block .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}

.header-block .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}

.header-block .site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}

.header-block .site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.header-block .site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #adadad;
}

.header-block .site-mobile-menu .site-nav-wrap a:hover {
  color: blue;
}

.header-block .site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}

.header-block .site-mobile-menu .site-nav-wrap li.active > a {
  color: blue;
}

.header-block .site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}

.header-block .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #ececec;
}

.header-block .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: 'fontawesome';
  content: "\f078";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-180deg);
  transition: .3s all ease;
}

.header-block .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  transform: translate(-50%, -50%);
}

.header-block .site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.header-block .site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 20px;
}

.header-block .site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header-block .site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block;
}

.header-block .site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding-left: 40px;
  font-size: 16px;
}

.header-block .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0;
}

.header-block .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block;
}

.header-block .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 16px;
  padding-left: 60px;
}

.header-block .site-mobile-menu .site-nav-wrap[data-class="social"] {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 5em;
}

.header-block .site-mobile-menu .site-nav-wrap[data-class="social"] > li {
  width: auto;
}

.header-block .site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
  padding-left: 15px !important;
}

.index-banner-sec .content-block .title-content {
  font-family: Poppins,sans-serif;
  line-height: 45px;
  font-size: 34px;
  letter-spacing: .25px;
  color: #191919;
  margin-bottom: 10px;
}

.index-banner-sec .content-block .subtitle-content {
  font-family: Roboto,sans-serif;
  line-height: 25px;
  font-size: 20px;
  letter-spacing: .25px;
  color: #191919;
}

.index-banner-sec .content-block .hero-new__illustration {
  position: relative;
}

.index-banner-sec .content-block .hero-new__illustration .hero-new__illustration-leg {
  position: absolute;
  left: 4px;
  top: -19px;
  -ms-transform: rotate(2deg) translateY(13px);
  transform: rotate(2deg) translateY(13px);
  animation: illustration-leg .8s ease-out alternate infinite;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: illustration-leg;
}

.index-banner-sec .content-block .hero-new__illustration .chip {
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 0 20px;
  text-align: center;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: 70px;
  position: absolute;
  left: -75px;
  bottom: 75px;
  opacity: 0;
  animation: chip__animation 3s ease-out infinite;
}

.index-banner-sec .content-block .hero-new__illustration .chip__animation-second {
  animation-name: chip__animation-second;
  animation-duration: 2s;
}

.index-banner-sec .content-block .hero-new__illustration .chip__animation-third {
  animation-name: chip__animation-third;
  animation-duration: 2.3s;
}

.index-banner-sec .content-block .hero-new__illustration .chip__text {
  font-family: Roboto,sans-serif;
  line-height: 20px;
  font-size: 20px;
  letter-spacing: .285714px;
  color: #000;
  display: inline-block;
  padding-left: 15px;
}

.index-banner-sec .price-calculator {
  background-color: #ffbb4d;
  padding: 15px;
  margin: 30px auto;
  box-shadow: 0 10px 20px #d6d6d6, 0 2px 8px #d0d0d0;
}

.index-banner-sec .price-calculator .form-group .form-control {
  border-radius: 0px;
  border: none;
}

.index-banner-sec .price-calculator .form-group ul li {
  text-decoration: underline;
  cursor: pointer;
}

.index-banner-sec .price-calculator .form-group a {
  width: 60%;
  display: inline-block;
  margin: 15px auto;
  font-weight: 700;
  font-size: 24px;
}

.index-banner-sec .price-calculator .standard-price {
  color: #4a4955;
}

.index-banner-sec .price-calculator .standard-price p {
  font-size: 18px;
  color: #000000;
}

.index-banner-sec .price-calculator .standard-price p span {
  font-size: 24px;
  font-weight: 700;
}

.index-banner-sec .price-calculator .grey-box {
  background-color: #4a4955;
  border-radius: 0;
  padding: 20px;
  margin-bottom: 10px;
}

.index-banner-sec .price-calculator .grey-box p {
  font-size: 12px;
  color: #ffffff;
}

.index-banner-sec .price-calculator .grey-box p.first-order-price {
  font-size: 48px;
  font-weight: 600;
}

.index-banner-sec .price-calculator .grey-box #unlock-price input {
  padding: 10px;
  width: 100%;
  height: 50px;
  border: none;
}

.index-banner-sec .price-calculator .grey-box #unlock-price button {
  background: #ffffff;
  border-radius: 7px;
  width: 100%;
  height: 50px;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
