@-webkit-keyframes illustration-leg {
  0% {
    -webkit-transform: rotate(2deg) translateY(13px);
            transform: rotate(2deg) translateY(13px);
  }
  100% {
    -webkit-transform: rotate(6deg) translateY(6px);
            transform: rotate(6deg) translateY(6px);
  }
}

@keyframes illustration-leg {
  0% {
    -webkit-transform: rotate(2deg) translateY(13px);
            transform: rotate(2deg) translateY(13px);
  }
  100% {
    -webkit-transform: rotate(6deg) translateY(6px);
            transform: rotate(6deg) translateY(6px);
  }
}

@-webkit-keyframes chip__animation {
  40% {
    -webkit-transform: rotate(0) translateY(0) translateX(0);
            transform: rotate(0) translateY(0) translateX(0);
    opacity: 0;
  }
  50% {
    opacity: .7;
  }
  90% {
    opacity: .7;
  }
  100% {
    -webkit-transform: rotate(-5deg) translateY(-200px) translateX(10px);
            transform: rotate(-5deg) translateY(-200px) translateX(10px);
    opacity: 0;
  }
}

@keyframes chip__animation {
  40% {
    -webkit-transform: rotate(0) translateY(0) translateX(0);
            transform: rotate(0) translateY(0) translateX(0);
    opacity: 0;
  }
  50% {
    opacity: .7;
  }
  90% {
    opacity: .7;
  }
  100% {
    -webkit-transform: rotate(-5deg) translateY(-200px) translateX(10px);
            transform: rotate(-5deg) translateY(-200px) translateX(10px);
    opacity: 0;
  }
}

@-webkit-keyframes chip__animation-second {
  20% {
    -webkit-transform: rotate(0) translateY(0) translateX(0);
            transform: rotate(0) translateY(0) translateX(0);
    opacity: 0;
  }
  60% {
    opacity: .7;
  }
  90% {
    opacity: .7;
  }
  100% {
    -webkit-transform: rotate(10deg) translateY(-180px) translateX(10px);
            transform: rotate(10deg) translateY(-180px) translateX(10px);
    opacity: 0;
  }
}

@keyframes chip__animation-second {
  20% {
    -webkit-transform: rotate(0) translateY(0) translateX(0);
            transform: rotate(0) translateY(0) translateX(0);
    opacity: 0;
  }
  60% {
    opacity: .7;
  }
  90% {
    opacity: .7;
  }
  100% {
    -webkit-transform: rotate(10deg) translateY(-180px) translateX(10px);
            transform: rotate(10deg) translateY(-180px) translateX(10px);
    opacity: 0;
  }
}

@-webkit-keyframes chip__animation-third {
  25% {
    -webkit-transform: rotate(0) translateY(0) translateX(0);
            transform: rotate(0) translateY(0) translateX(0);
    opacity: 0;
  }
  45% {
    opacity: .7;
  }
  90% {
    opacity: .7;
  }
  100% {
    -webkit-transform: rotate(-15deg) translateY(-150px) translateX(-8px);
            transform: rotate(-15deg) translateY(-150px) translateX(-8px);
    opacity: 0;
  }
}

@keyframes chip__animation-third {
  25% {
    -webkit-transform: rotate(0) translateY(0) translateX(0);
            transform: rotate(0) translateY(0) translateX(0);
    opacity: 0;
  }
  45% {
    opacity: .7;
  }
  90% {
    opacity: .7;
  }
  100% {
    -webkit-transform: rotate(-15deg) translateY(-150px) translateX(-8px);
            transform: rotate(-15deg) translateY(-150px) translateX(-8px);
    opacity: 0;
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #62acb5;
  background-color: #62acb5;
  padding: 0.5px;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #4a4955;
}

::-webkit-scrollbar-thumb {
  background-color: #62acb5;
  border-radius: 10px;
}

body {
  font-family: sans-serif;
  position: relative;
}

body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

body.offcanvas-menu:before {
  opacity: 1;
  visibility: visible;
}

p {
  color: #b3b3b3;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: sans-serif;
}

a {
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

a, a:hover {
  text-decoration: none !important;
}

.hero {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.header-block {
  display: inline-block;
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header-block .site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  width: 100%;
}

.header-block .site-navbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0 0 10px #ececec;
          box-shadow: 0 0 10px #ececec;
  border-bottom: 1px solid #ececec;
}

.header-block .site-navbar.transparent {
  background: transparent;
}

.header-block .site-navbar.absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-block .site-navbar .site-logo {
  position: relative;
  left: 0;
  font-size: 24px !important;
}

.header-block .site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}

.header-block .site-navbar .site-navigation .site-menu .active > a span {
  background: #62acb5;
  color: #4a4955;
  border-radius: 30px;
  display: inline-block;
  padding: 5px 20px;
}

.header-block .site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block;
}

.header-block .site-navbar .site-navigation .site-menu > li {
  display: inline-block;
}

.header-block .site-navbar .site-navigation .site-menu > li > a {
  padding: 10px 0px;
  color: #4a4955;
  font-size: 16px;
  text-decoration: none !important;
}

.header-block .site-navbar .site-navigation .site-menu > li > a > span {
  padding: 5px 20px;
  display: inline-block;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  border-radius: 30px;
}

.header-block .site-navbar .site-navigation .site-menu > li > a:hover > span {
  background: #62acb5;
  color: #4a4955;
  border-radius: 30px;
  display: inline-block;
}

.header-block .site-navbar .site-navigation .site-menu .has-children {
  position: relative;
}

.header-block .site-navbar .site-navigation .site-menu .has-children > a span {
  position: relative;
  padding-right: 30px;
}

.header-block .site-navbar .site-navigation .site-menu .has-children > a span:before {
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: 'icomoon';
}

.header-block .site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  border-top: 2px solid #62acb5;
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #ffffff;
  -webkit-transition: 0.2s 0s;
  transition: 0.2s 0s;
}

.header-block .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute;
}

.header-block .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.header-block .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}

.header-block .site-navbar .site-navigation .site-menu .has-children .dropdown a {
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  transition: 0s all;
  color: #adadad;
}

.header-block .site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
  color: #4a4955 !important;
}

.header-block .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
}

.header-block .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
  padding: 9px 20px;
  display: block;
}

.header-block .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
  background: #919191;
}

.header-block .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a {
  position: relative;
}

.header-block .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:after {
  position: absolute;
  right: 0;
  content: "\e315";
  right: 20px;
  font-family: 'icomoon';
}

.header-block .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .header-block .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
  left: 100%;
  top: 0;
}

.header-block .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .header-block .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .header-block .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
  background: #919191;
}

.header-block .site-navbar .site-navigation .site-menu .has-children:hover > a, .header-block .site-navbar .site-navigation .site-menu .has-children:focus > a, .header-block .site-navbar .site-navigation .site-menu .has-children:active > a {
  color: #62acb5;
}

.header-block .site-navbar .site-navigation .site-menu .has-children:hover > a span, .header-block .site-navbar .site-navigation .site-menu .has-children:focus > a span, .header-block .site-navbar .site-navigation .site-menu .has-children:active > a span {
  background: #62acb5;
  color: #4a4955;
}

.header-block .site-navbar .site-navigation .site-menu .has-children:hover, .header-block .site-navbar .site-navigation .site-menu .has-children:focus, .header-block .site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}

.header-block .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .header-block .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .header-block .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

.header-block .site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #000000b8;
  height: calc(100vh);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
          box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.offcanvas-menu .header-block .site-mobile-menu {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.header-block .site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.header-block .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}

.header-block .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.header-block .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #ececec;
}

.header-block .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
}

.header-block .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}

.header-block .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}

.header-block .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}

.header-block .site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}

.header-block .site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.header-block .site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #adadad;
}

.header-block .site-mobile-menu .site-nav-wrap a:hover {
  color: #62acb5;
}

.header-block .site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}

.header-block .site-mobile-menu .site-nav-wrap li.active > a {
  color: #62acb5;
}

.header-block .site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}

.header-block .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #ececec;
}

.header-block .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: 'fontawesome';
  content: "\f078";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
          transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.header-block .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header-block .site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.header-block .site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
}

.header-block .site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header-block .site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block;
}

.header-block .site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding-left: 40px;
  font-size: 16px;
}

.header-block .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0;
}

.header-block .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block;
}

.header-block .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 16px;
  padding-left: 60px;
}

.header-block .site-mobile-menu .site-nav-wrap[data-class="social"] {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 5em;
}

.header-block .site-mobile-menu .site-nav-wrap[data-class="social"] > li {
  width: auto;
}

.header-block .site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
  padding-left: 15px !important;
}

.index-banner-sec {
  position: relative;
  overflow: hidden;
}

.index-banner-sec:after {
  background: #fafafb;
  position: absolute;
  content: '';
  bottom: 0;
  left: -150px;
  right: -150px;
  top: 50%;
  z-index: -1;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
  height: 500px;
}

.index-banner-sec .content-block .title-content {
  font-family: Poppins,sans-serif;
  line-height: 45px;
  font-size: 34px;
  letter-spacing: .25px;
  color: #191919;
  margin-bottom: 10px;
}

.index-banner-sec .content-block .subtitle-content {
  font-family: Roboto,sans-serif;
  line-height: 25px;
  font-size: 20px;
  letter-spacing: .25px;
  color: #191919;
}

.index-banner-sec .content-block .hero-new__illustration {
  position: relative;
}

.index-banner-sec .content-block .hero-new__illustration .hero-new__illustration-leg {
  position: absolute;
  left: 4px;
  top: -19px;
  -webkit-transform: rotate(2deg) translateY(13px);
          transform: rotate(2deg) translateY(13px);
  -webkit-animation: illustration-leg .8s ease-out alternate infinite;
          animation: illustration-leg .8s ease-out alternate infinite;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-name: illustration-leg;
          animation-name: illustration-leg;
}

.index-banner-sec .content-block .hero-new__illustration .chip {
  background: #fff;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 0 20px;
  text-align: center;
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  min-height: 70px;
  position: absolute;
  left: -75px;
  bottom: 75px;
  opacity: 0;
  -webkit-animation: chip__animation 3s ease-out infinite;
          animation: chip__animation 3s ease-out infinite;
}

.index-banner-sec .content-block .hero-new__illustration .chip__animation-second {
  -webkit-animation-name: chip__animation-second;
          animation-name: chip__animation-second;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.index-banner-sec .content-block .hero-new__illustration .chip__animation-third {
  -webkit-animation-name: chip__animation-third;
          animation-name: chip__animation-third;
  -webkit-animation-duration: 2.3s;
          animation-duration: 2.3s;
}

.index-banner-sec .content-block .hero-new__illustration .chip__text {
  font-family: Roboto,sans-serif;
  line-height: 20px;
  font-size: 20px;
  letter-spacing: .285714px;
  color: #000;
  display: inline-block;
  padding-left: 15px;
}

.index-banner-sec .price-calculator {
  background-color: #62acb5;
  padding: 15px;
  margin: 30px auto;
  -webkit-box-shadow: 0 10px 20px #d6d6d6, 0 2px 8px #d0d0d0;
          box-shadow: 0 10px 20px #d6d6d6, 0 2px 8px #d0d0d0;
}

.index-banner-sec .price-calculator .form-group .form-control {
  border-radius: 0px;
  border: none;
}

.index-banner-sec .price-calculator .form-group ul li {
  text-decoration: underline;
  cursor: pointer;
}

.index-banner-sec .price-calculator .form-group a {
  width: 60%;
  display: inline-block;
  margin: 15px auto;
  font-weight: 700;
  font-size: 24px;
}

.index-banner-sec .price-calculator .standard-price {
  color: #4a4955;
}

.index-banner-sec .price-calculator .standard-price p {
  font-size: 18px;
  color: #000000;
}

.index-banner-sec .price-calculator .standard-price p span {
  font-size: 24px;
  font-weight: 700;
}

.index-banner-sec .price-calculator .grey-box {
  background-color: #4a4955;
  border-radius: 0;
  padding: 20px;
  margin-bottom: 10px;
}

.index-banner-sec .price-calculator .grey-box p {
  font-size: 12px;
  color: #ffffff;
}

.index-banner-sec .price-calculator .grey-box p.first-order-price {
  font-size: 48px;
  font-weight: 600;
}

.index-banner-sec .price-calculator .grey-box #unlock-price input {
  padding: 10px;
  width: 100%;
  height: 50px;
  border: none;
}

.index-banner-sec .price-calculator .grey-box #unlock-price button {
  background: #ffffff;
  border-radius: 7px;
  width: 100%;
  height: 50px;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

.trust-rating-sec {
  padding: 30px 0;
  background: #fafafb;
}

.trust-rating-sec .rating-box {
  -webkit-box-shadow: 0 10px 20px #d6d6d6, 0 2px 8px #d0d0d0;
          box-shadow: 0 10px 20px #d6d6d6, 0 2px 8px #d0d0d0;
}

.trust-rating-sec .rating-box h6 {
  width: 100%;
  font-family: Roboto,sans-serif;
  font-size: 16px;
  letter-spacing: .5px;
  color: #4b454d;
}

.trust-rating-sec .rating-box .rate-score p {
  font-family: Poppins,sans-serif;
  font-weight: 200;
  font-size: 48px;
  letter-spacing: .9375px;
  color: #4b454d;
}

.guarantee-sec {
  background: #fafafb;
  padding: 30px 0 50px;
}

.guarantee-sec h3 {
  line-height: 60px;
  font-size: 48px;
  margin: 60px auto;
}

.guarantee-sec .guarantee-block .guarantee-icon span {
  width: 80px;
  height: 80px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  background: #fff;
  -webkit-box-shadow: 0 10px 20px #0000001a, 0 2px 8px #0000001a;
          box-shadow: 0 10px 20px #0000001a, 0 2px 8px #0000001a;
  border-radius: 40px;
}

.guarantee-sec .guarantee-block .guarantee-content h4 {
  font-family: Poppins,sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  font-size: 20px;
  letter-spacing: .15px;
  color: rgba(0, 0, 0, 0.9);
}

.guarantee-sec .guarantee-block .guarantee-content p {
  font-family: Roboto,sans-serif;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: .25px;
  color: #4a4955;
}

.gpa-sec {
  padding: 50px 0 100px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #edeff2), to(#fafafb));
  background: linear-gradient(180deg, #edeff2 0, #fafafb 100%);
  position: relative;
}

.gpa-sec::before {
  position: absolute;
  content: '';
  background: #edeff2;
  top: -25px;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  -webkit-transform: skew(0deg, -2deg);
          transform: skew(0deg, -2deg);
  z-index: 99;
}

.gpa-sec::after {
  position: absolute;
  content: '';
  background: #62acb5;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  -webkit-transform: skew(0deg, -2deg);
          transform: skew(0deg, -2deg);
  z-index: 99;
}

.gpa-sec .nav.nav-tabs {
  border: none;
}

.gpa-sec .nav.nav-tabs .nav-item a.nav-link {
  color: #495057;
  border-radius: 4px;
  padding: 10px 15px 10px 10px;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

.gpa-sec .nav.nav-tabs .nav-item a.nav-link.active {
  border: none;
  background: #ffffff;
  -webkit-box-shadow: 0 10px 20px #0000001a, 0 2px 8px #0000001a;
          box-shadow: 0 10px 20px #0000001a, 0 2px 8px #0000001a;
}

.gpa-sec .nav.nav-tabs .nav-item a.nav-link:hover {
  background: #ffffff;
}

.gpa-sec .nav.nav-tabs .nav-item a.nav-link img {
  margin-right: 10px;
  text-align: center;
  width: 100px;
}

.gpa-sec .nav.nav-tabs .nav-item a.nav-link span {
  font-family: Poppins,sans-serif;
  font-weight: 500;
  line-height: 25px;
  font-size: 19px;
  letter-spacing: .15px;
  color: #191919;
}

.gpa-sec .tab-content .tab-pane {
  padding-left: 50px;
}

.gpa-sec .tab-content .tab-pane h4 {
  margin-bottom: 25px;
  margin-top: 10px;
  line-height: 60px;
  font-size: 48px;
}

.gpa-sec .tab-content .tab-pane p {
  font-family: Roboto,sans-serif;
  line-height: 25px;
  font-size: 20px;
  letter-spacing: .44px;
  color: #191919;
}

.gpa-sec .why-regular-customer .wrc-descript h3 {
  line-height: 60px;
  font-size: 48px;
  margin-bottom: 25px;
  padding-left: 15px;
}

.gpa-sec .why-regular-customer .wrc-descript p {
  font-family: Roboto,sans-serif;
  line-height: 25px;
  font-size: 16px;
  letter-spacing: .44px;
  color: #191919;
  max-width: 350px;
  padding-left: 15px;
}

.gpa-sec .why-regular-customer .wrc-feature-box {
  background: #fff;
  -webkit-box-shadow: 0 10px 20px #0000001a, 0 2px 8px #0000001a;
          box-shadow: 0 10px 20px #0000001a, 0 2px 8px #0000001a;
  border-radius: 4px;
  padding: 15px 20px;
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
  margin: 0;
}

.gpa-sec .why-regular-customer .wrc-feature-box .wrc-count-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  margin: 0;
}

.gpa-sec .why-regular-customer .wrc-feature-box .wrc-count-icon .wrc-count {
  font-family: Poppins,sans-serif;
  font-weight: 200;
  font-size: 36px;
  color: #000;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gpa-sec .why-regular-customer .wrc-feature-box .wrc-feature-text {
  font-family: Roboto,sans-serif;
  line-height: 25px;
  font-size: 16px;
  letter-spacing: .4px;
  color: #000;
  padding: 15px 0;
  margin: 0;
}

.clients-review-sec {
  background: #62acb5;
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}

.clients-review-sec:before {
  position: absolute;
  content: '';
  width: 150%;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  background: #4a4955;
  right: -25%;
  left: -25%;
  bottom: -20%;
  top: 50%;
  z-index: 0;
}

.clients-review-sec .review-content-block {
  margin-top: 30px;
}

.clients-review-sec .review-content-block h3 {
  margin-bottom: 15px;
  display: inline-block;
  text-align: left;
  width: 100%;
  line-height: 60px;
  font-size: 48px;
  letter-spacing: .25px;
  color: #191919;
}

.clients-review-sec .review-content-block p {
  font-size: 20px;
  display: inline-block;
  text-align: left;
  width: 100%;
  letter-spacing: .44px;
  color: #191919;
}

.clients-review-sec .review-content-block img {
  position: relative;
  left: -25px;
  width: 105%;
}

.clients-review-sec .review-listing-block {
  margin-top: 30px;
  padding-right: 20px;
  max-height: 800px;
  overflow: auto;
}

.clients-review-sec .review-listing-block ul li .review-box .customer-content {
  padding: 20px;
  background: #fff;
  border-radius: 0 0 0 10px;
  -webkit-box-shadow: 0 5px 10px #adadad;
          box-shadow: 0 5px 10px #adadad;
}

.clients-review-sec .review-listing-block ul li .review-box .customer-content .customer-feedback-rating {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 1;
}

.clients-review-sec .review-listing-block ul li .review-box .customer-content .customer-feedback-rating svg {
  width: 30px;
  display: inline-block;
  position: absolute;
  z-index: 0;
}

.clients-review-sec .review-listing-block ul li .review-box .customer-content .customer-feedback-rating span.feedback {
  font-family: Poppins,sans-serif;
  font-size: 18px;
  color: #191919;
  padding: 10px 15px;
  position: relative;
}

.clients-review-sec .review-listing-block ul li .review-box .customer-content .customer-feedback-rating span.rating {
  font-family: Poppins,sans-serif;
  font-weight: 300;
  font-size: 30px;
  text-align: right;
  letter-spacing: .9375px;
  color: #4b454d;
}

.clients-review-sec .review-listing-block ul li .review-box .customer-content .customer-detail {
  font-family: Roboto,sans-serif;
  line-height: 20px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
  display: block;
  padding: 20px 20px 0px;
  border-top: 1px solid #ececec;
}

.clients-review-sec .review-listing-block ul li .review-box .our-content {
  width: calc(100% - 40px);
  margin-left: auto;
  background: #fff;
  border: 1px solid #ececec;
  border-radius: 0 0 10px 10px;
  position: relative;
}

.clients-review-sec .review-listing-block ul li .review-box .our-content .reply-box {
  padding: 20px;
  background: #ececec;
  color: #37474f;
}

.clients-review-sec .review-listing-block ul li .review-box .our-content .reply-box .our-reply {
  color: #37474f;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.clients-review-sec .review-listing-block ul li .review-box .our-content .our-detail {
  font-family: Roboto,sans-serif;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
  display: block;
  padding: 10px 20px;
}

.clients-review-sec .load-reviews button {
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 20px;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #62acb5;
  color: #62acb5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.clients-review-sec .load-reviews button:hover {
  border: 2px solid #4a4955;
  color: #4a4955;
  background: #62acb5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.privacy-count-sec {
  background: #4a4955;
}

.privacy-count-sec .privacy-animation {
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.privacy-count-sec .privacy-animation .caret-left {
  position: absolute;
  z-index: 999;
  left: -5px;
  top: calc(50% - 20px);
}

.privacy-count-sec .privacy-animation .caret-left svg path {
  fill: #62acb5;
}

.privacy-count-sec .privacy-animation .caret-right {
  position: absolute;
  z-index: 999;
  right: -5px;
  top: calc(50% - 20px);
}

.privacy-count-sec .privacy-animation .caret-right svg path {
  fill: #62acb5;
}

.privacy-count-sec .privacy-animation .security-ill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 100%;
  border: 10px solid #434343;
  border-radius: 15px;
  background: #434343;
  -webkit-box-shadow: 0 0 30px #ffffff inset;
          box-shadow: 0 0 30px #ffffff inset;
}

.privacy-count-sec .privacy-animation .security-ill .numbers {
  width: 20%;
  text-align: center;
  height: 100%;
}

.privacy-count-sec .privacy-animation .security-ill .numbers .numbers-container {
  background: #494854;
  -webkit-box-shadow: 0 0 10px #000000 inset;
          box-shadow: 0 0 10px #000000 inset;
  overflow: hidden;
  height: 100%;
}

.privacy-count-sec .privacy-animation .security-ill .numbers .numbers-container .number {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.privacy-count-sec .privacy-animation .security-ill .numbers .numbers-container .number:before {
  position: absolute;
  content: '';
  bottom: 0px;
  height: 5px;
  width: 100%;
  border-radius: 10px;
  left: 0;
  right: 0;
  background: #2e2d35;
  -webkit-box-shadow: 0 0 10px #868383 inset;
          box-shadow: 0 0 10px #868383 inset;
}

.privacy-count-sec .privacy-content h3 {
  font-family: Poppins,sans-serif;
  line-height: 45px;
  font-size: 34px;
  letter-spacing: .25px;
  color: #fff;
  margin-bottom: 50px;
}

.privacy-count-sec .privacy-content ul li .privacy-title {
  font-family: Poppins,sans-serif;
  font-weight: 500;
  line-height: 25px;
  font-size: 20px;
  letter-spacing: .15px;
  color: #fff;
  margin-bottom: 15px;
}

.privacy-count-sec .privacy-content ul li .privacy-content {
  font-family: Roboto,sans-serif;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: .25px;
  color: #999;
  margin-bottom: 25px;
}

.quality-paper-sec {
  padding: 50px 0;
  background: #4a4955;
}

.quality-paper-sec .quality-paper-content h3 {
  font-family: Poppins,sans-serif;
  line-height: 60px;
  font-size: 34px;
  letter-spacing: .25px;
  color: #fff;
}

.quality-paper-sec .quality-paper-content p.content-descript {
  font-family: Roboto,sans-serif;
  font-weight: 400;
  line-height: 25px;
  font-size: 16px;
  margin-bottom: 50px;
}

.quality-paper-sec .quality-paper-content ul li p.quality-feature-title {
  font-family: Poppins,sans-serif;
  font-weight: 500;
  line-height: 25px;
  font-size: 20px;
  letter-spacing: .15px;
  color: #fff;
  margin-bottom: 15px;
}

.quality-paper-sec .quality-paper-content ul li p.quality-feature-text {
  font-family: Roboto,sans-serif;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: .25px;
  color: #999;
  margin-bottom: 25px;
}

.quality-paper-sec .quality-paper-img {
  position: relative;
}

.quality-paper-sec .quality-paper-img img {
  width: 100%;
}

.quality-paper-sec .quality-paper-img .quality-check {
  position: absolute;
  bottom: 0;
  left: 0;
}

.quality-paper-sec .grademiner-video {
  position: relative;
  text-align: center;
}

.quality-paper-sec .grademiner-video iframe {
  height: 350px;
  position: relative;
  z-index: 99;
  max-width: 767px;
  margin: 0 auto;
}

.quality-paper-sec .grademiner-video > img {
  position: absolute;
  width: 150px;
  height: 120px;
  left: 0px;
  bottom: 0;
  z-index: 0;
}

.subscribe-sec {
  padding: 50px 0;
  text-align: center;
  background: #4a4955;
}

.subscribe-sec .subscribe-title {
  font-family: Poppins,sans-serif;
  line-height: 45px;
  font-size: 48px;
  text-align: center;
  letter-spacing: .25px;
  color: #fff;
  margin-bottom: 50px;
}

.subscribe-sec .subscribe-content {
  background: #62acb5;
  border-radius: 4px;
  padding: 30px 10px;
  position: relative;
  overflow: hidden;
}

.subscribe-sec .subscribe-content::before {
  position: absolute;
  content: '';
  top: -125px;
  left: -50px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #e1e1e1;
  width: 450px;
  height: 450px;
  z-index: 0;
  -webkit-box-shadow: 0 0 10px #101010;
          box-shadow: 0 0 10px #101010;
}

.subscribe-sec .subscribe-content .subcribe-discount img {
  display: block;
  width: 120px;
  height: 100px;
}

.subscribe-sec .subscribe-content .subcribe-discount p {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe-sec .subscribe-content .subcribe-discount p span.discount-percent {
  font-family: Poppins,sans-serif;
  font-size: 50px;
  letter-spacing: -.5px;
  color: #000;
  width: 100%;
  display: inline-block;
}

.subscribe-sec .subscribe-content .subcribe-discount p span.discount-text {
  font-family: Poppins,sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.subscribe-sec .subscribe-content .subcribe-form {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.subscribe-sec .subscribe-content .subcribe-form form {
  width: 100%;
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-sec .subscribe-content .subcribe-form form .form-row {
  width: 100%;
}

.subscribe-sec .subscribe-content .subcribe-form form .form-row input {
  border: none;
  font-size: 14px;
  padding: 10px;
}

.subscribe-sec .subscribe-content .subcribe-form form .form-row button {
  background: transparent;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 10px auto;
  padding: 20px 0;
}

.academic-goals-sec {
  padding: 50px 0;
  background: #4a4955;
}

.academic-goals-sec h3 {
  font-family: Poppins,sans-serif;
  line-height: 60px;
  font-size: 48px;
  text-align: center;
  color: #fff;
  margin-bottom: 35px;
}

.academic-goals-sec .goals-content-block .goal-title {
  position: relative;
  font-family: Poppins,sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  font-size: 20px;
  letter-spacing: .15px;
  color: #fff;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(191, 192, 195, 0.5);
  padding-right: 50px;
}

.academic-goals-sec .goals-content-block p {
  display: block;
  padding-top: 15px;
  font-family: Roboto,sans-serif;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: .25px;
  color: #fff;
}

.academic-goals-sec .goals-content-block ul li {
  display: block;
  font-family: Roboto,sans-serif;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: .25px;
  color: #fff;
  margin: 5px 0;
  position: relative;
}

.academic-goals-sec .goals-content-block ul li:before {
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  background: #ffffff;
  border-radius: 50%;
  left: -15px;
  top: 7px;
}

.academic-goals-sec .goals-content-block img.sleeping-img {
  max-width: 350px;
}

.footer-top-block {
  background: #4a4955;
  padding: 50px 0;
}

.footer-top-block .top-block-content {
  position: relative;
  width: calc(100% - 100px);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  background: #62acb5;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.footer-top-block .top-block-content:before {
  position: absolute;
  content: '';
  height: 800px;
  width: 800px;
  background: #e1e1e1;
  -webkit-box-shadow: 0 0 10px #62acb5 inset;
          box-shadow: 0 0 10px #62acb5 inset;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 10px;
  right: 50%;
  z-index: 0;
}

.footer-top-block .top-block-content p {
  margin: 0;
  max-width: 500px;
  color: #4a4955;
  position: relative;
  z-index: 99;
}

.footer-top-block .top-block-content a {
  display: inline-block;
  margin: 10px auto;
  padding: 10px 30px;
  background: transparent;
  border-radius: 10px;
  border: 2px solid #4a4955;
  color: #4a4955;
  text-decoration: none;
  position: relative;
  z-index: 99;
}

.footer-top-block .top-block-content a:hover {
  background: #22b9cc;
}

.breadcrumb-sec {
  padding-top: 30px;
}

.breadcrumb-sec ul li a {
  color: #4a4955;
  font-family: Roboto,sans-serif;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: .25px;
  text-decoration: none;
}

.breadcrumb-sec ul li span {
  font-family: Roboto,sans-serif;
  color: #000000;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: .25px;
  text-decoration: none;
  margin-left: 5px;
  font-weight: 600;
}

.blog-banner-sec {
  padding: 50px 0;
  position: relative;
  z-index: 99;
}

.blog-banner-sec .blog-search h3.blog-search-title {
  font-family: Poppins,sans-serif;
  line-height: 45px;
  font-size: 48px;
  letter-spacing: .25px;
  color: #191919;
}

.blog-banner-sec .blog-search .blog-search-form {
  margin-top: 50px;
}

.blog-banner-sec .blog-search .blog-search-form form input {
  border: 1px solid #b6b4b6;
  height: 40px;
  line-height: 38px;
  font-family: Roboto,sans-serif;
  font-size: 14px;
  letter-spacing: .25px;
  color: #979797;
  padding: 0 15px;
  max-width: 400px;
  width: calc(100% - 40px);
}

.blog-banner-sec .blog-search .blog-search-form form button {
  border-radius: 4px;
  width: 40px;
  height: 40px;
  border: none;
  line-height: 40px;
  margin-left: 20px;
  background-color: #fa0;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-banner-sec .blog-search .blog-search-form form button svg {
  width: 15px;
  height: 15px;
}

.blog-banner-sec .blog-banner-img img {
  max-width: 100%;
}

.blog-listing-sec {
  padding: 50px 0 100px;
  background: #4a4955;
  position: relative;
}

.blog-listing-sec::before {
  position: absolute;
  content: '';
  background: #fafafb;
  top: -150px;
  left: 0;
  right: 0;
  height: 500px;
  width: 100%;
  -webkit-transform: skew(0deg, -2deg);
          transform: skew(0deg, -2deg);
  z-index: 0;
}

.blog-listing-sec ul li .blog-listing-single {
  padding: 0 20px 20px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 10px #cacaca;
          box-shadow: 0 0 10px #cacaca;
  border-radius: 7px;
}

.blog-listing-sec ul li .blog-listing-single .blog-meta {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 70px;
  height: 35px;
}

.blog-listing-sec ul li .blog-listing-single .blog-meta .blog-label {
  background: #4a4955;
  position: absolute;
  top: 0;
  left: -20px;
  font-family: Poppins,sans-serif;
  font-weight: 500;
  line-height: normal;
  font-size: 15px;
  text-align: center;
  letter-spacing: .857143px;
  color: #fff;
  padding: 8px 15px;
}

.blog-listing-sec ul li .blog-listing-single .blog-meta > span {
  width: 80px;
  padding: 0 5px;
  color: #4a4955;
}

.blog-listing-sec ul li .blog-listing-single .blog-meta > span svg {
  width: 15px;
  margin-right: 10px;
}

.blog-listing-sec ul li .blog-listing-single .blog-meta > span svg path {
  fill: #62acb5;
}

.blog-listing-sec ul li .blog-listing-single .blog-content-block {
  padding: 0 15px;
  margin: 20px 0;
  display: inline-block;
}

.blog-listing-sec ul li .blog-listing-single .blog-content-block h5 {
  font-family: Poppins,sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #000;
  text-decoration: none;
  margin: 0;
  display: inline-block;
}

.blog-listing-sec ul li .blog-listing-single .blog-content-block p {
  margin: 15px 0;
  font-family: Roboto,sans-serif;
  line-height: 25px;
  font-size: 16px;
  letter-spacing: .444444px;
  color: #000;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.blog-listing-sec ul li .blog-listing-single .blog-content-block a {
  padding: 10px 15px;
  text-transform: capitalize;
  background: #62acb5;
  color: #ffffff;
  border-color: #62acb5;
  display: inline-block;
  border-radius: 5px;
}

.blog-listing-sec ul li .blog-listing-single .author-meta {
  padding: 20px 15px;
  border-top: 1px solid #dbdbdb;
}

.blog-listing-sec ul li .blog-listing-single .author-meta p a {
  text-decoration: none;
  color: #4a4955;
}

.blog-listing-sec ul li .blog-listing-single .author-meta p a:hover {
  color: #62acb5;
}

.blog-listing-sec ul li .blog-listing-single .author-meta p span {
  color: #4a4955;
  font-weight: 600;
  font-size: 14px;
}

.blog-listing-sec .blog-poster-img {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
/*# sourceMappingURL=style.css.map */